body {
  font-family: "Arial", sans-serif;
  background-color: #f0dada;
  text-align: center;
  margin: auto;
}

.navbar {
  background-color: #3498db; /* Blue color */
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.navbar:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.navbar li:hover {
  transform: scale(1.1); /* Zoom in effect on hover */
}

.navbar a {
  text-decoration: none;
  color: #fff; /* White text color */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ecf0f1; /* Light gray text color on hover */
}

#weather-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffeb3b; /* Yellow background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#weather-container:hover {
  transform: scale(1.05); /* Zoom in effect on hover */
}

#searchInput {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
}

#searchButton {
  padding: 10px;
  background-color: #3498db; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

#searchButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#weatherInfo {
  margin-top: 20px;
}
